[loggers]
keys: root,
      tasrcloud,
      utils

[logger_root]
handlers=
level=NOTSET

[logger_tasrcloud]
handlers=screen,file
level=NOTSET
qualname=__main__

[logger_utils]
handlers=screen,file
level=NOTSET
qualname=utils

[formatters]
keys=standard,colorful

[formatter_standard]
format=%(levelname)s|%(asctime)s|%(name)s:%(message)s

[formatter_colorful]
class=colorlog.ColoredFormatter
format=%(log_color)s%(levelname)s%(reset)s|%(log_color)s[%(asctime)s]%(reset)s|%(log_color)s%(name)s%(reset)s:%(message)s
# datefmt=%y-%m-%d %H:%M:%S

[handlers]
keys=screen,file

[handler_screen]
class=StreamHandler
formatter=colorful
level=DEBUG
args=(sys.stderr,)

[handler_file]
class=FileHandler
formatter=standard
level=DEBUG
args=('tasrcloud.log', 'wt')